<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.0" />

    <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="item-line">
            <p class="item-title">Choose a language:</p>
            <select v-model="state.lan" @change="state.voice = 0">
                <option v-for="item in lanList" :value="item">{{item}}</option>
            </select>
        </div>
        <div class="item-line">
            <p class="item-title">Select voice:</p>
            <select v-model="state.voice">
                <option v-for="(item, index) in localVoiceList[state.lan]" :value="index">{{item.ShortName}}</option>
            </select>
        </div>
        <div class="item-line">
            <p class="item-title">Set pitch:</p>
            <input class="ipt-number" step="10" v-model.number="state.pitch" type="number">
        </div>
        <div class="item-line">
            <p class="item-title">Set speech rate:</p>
            <input class="ipt-number" step="10" v-model.number="state.rate" type="number">
        </div>
        <div class="item-line">
            <textarea class="ipt-box" placeholder="Please enter the content to be synthesized" v-model="state.text" @keydown.enter="speak"></textarea>
        </div>
        <div class="item-line">
            <button class="submit-btn" @click="speak">Speak</button> <button class="submit-btn" @click="download">Download</button>
        </div>
    </div>
    <script>
        const { createApp,reactive } = Vue
        const textEncoder = new TextEncoder()
        const binaryHeadEnd = textEncoder.encode('Path:audio\r\n').toString()

        // get voices list
        function getVoiceList() {
            const _voiceList = reactive({})
            const _lanList = reactive([])
            fetch('https://speech.platform.bing.com/consumer/speech/synthesize/readaloud/voices/list?trustedclienttoken=6A5AA1D4EAFF4E9FB37E23D68491D6F4').then(data => data.json()).then(data => {
                data.forEach(item => {
                    if (!_voiceList[item.Locale]) {
                        _lanList.push(item.Locale)
                        _voiceList[item.Locale] = []
                    }
                    _voiceList[item.Locale].push(item)
                })
            })
            return [_voiceList, _lanList]
        }
        // generate guid
        function guid(){
            function gen(count) {
                var out = "";
                for (var i=0; i<count; i++) {
                    out += (((1+Math.random())*0x10000)|0).toString(16).substring(1);
                }
                return out;
            }
            return gen(8)
        }
        // numeric to signed string
        function numToString(num) {
            return num >= 0 ? `+${num}`:`${num}`
        }

        const speechConfig = (audioOutputFormat = 'webm-24khz-16bit-mono-opus') => `X-Timestamp:${new Date()}\r\nContent-Type:application/json; charset=utf-8\r\nPath:speech.config\r\n\r\n{"context":{"synthesis":{"audio":{"metadataoptions":{"sentenceBoundaryEnabled":"false","wordBoundaryEnabled":"true"},"outputFormat":"${audioOutputFormat}"}}}}`

        const ssmlText = ({requestId = guid(), lan = 'vi-VN', voiceName, pitch = '+0', rate = '+0', volume = '+0', text}) => `X-RequestId:${requestId}\r\nContent-Type:application/ssml+xml\r\nX-Timestamp:${new Date()}\r\nPath:ssml\r\n\r\n<speak version='1.0' xmlns='http://www.w3.org/2001/10/synthesis' xmlns:mstts='https://www.w3.org/2001/mstts' xml:lang='${lan}'><voice name='${voiceName}'><prosody pitch='${pitch}Hz' rate ='${rate}%' volume='${volume}%'>${text}</prosody></voice></speak>`

        // get audio
        function getAudio(state, localVoiceList) {
            const bufferList = []
            return new Promise((resolve, reject) => {
                if (!state.text) {
                    reject("please enter text")
                    return
                }
                const requestId = guid()
                const ws = new WebSocket("wss://speech.platform.bing.com/consumer/speech/synthesize/readaloud/edge/v1?TrustedClientToken=6A5AA1D4EAFF4E9FB37E23D68491D6F4")
                ws.addEventListener('open', () => {
                    ws.send(speechConfig())
                    ws.send(ssmlText({
                        requestId, 
                        text: state.text,
                        lan: state.lan, 
                        voiceName: localVoiceList[state.lan][state.voice].Name, 
                        pitch: numToString(state.pitch), 
                        rate: numToString(state.rate),
                    }))
                })
                ws.addEventListener('message', async ({ data }) => {
                    if (data instanceof Blob) {
                        const view = new Uint8Array(await data.arrayBuffer())
                        bufferList.push(...view.toString().split(binaryHeadEnd)[1].split(',').slice(1).map(i => +i))
                        if(view[0] == 0x00 && view[1] == 0x67 && view[2] == 0x58) {
                            ws.close(1000)
                        }
                    }
                })
                ws.addEventListener("error", (err) => {
                    console.log('------error', err)
                    reject(err)
                })
                ws.addEventListener('close', (event) => {
                    if (event.code != 1000) {
                        console.error('----closed', event)
                        reject(event.code)
                        return 
                    }
                    const blob = new Blob([new Uint8Array(bufferList)], {type: 'audio/webm'})
                    resolve(URL.createObjectURL(blob))
                })
            })
        }
        createApp({
            setup() {
                const state = reactive({
                    text: '',
                    pitch: 0,
                    rate: 0,
                    volume: 0,
                    lan: 'vi-VN',
                    voice: 0
                })
                const [localVoiceList, lanList] = getVoiceList()

                function speak() {
                    getAudio(state, localVoiceList).then(url => {
                        const audio = new Audio(url)
                        audio.play()
                    }).catch(err => {
                        alert(err)
                    })
                }
                function download() {
                    getAudio(state, localVoiceList).then(url => {
                    const link = document.createElement('a')
                    link.download = `audio_${Date.now()}.webm`
                    link.href = url
                    link.style = 'display: none';
                    document.body.append(link)
                    link.click();
                    link.remove();
                    }).catch(err => {
                        alert(err)
                    })
                }
                return {
                    state,
                    lanList,
                    localVoiceList,
                    speak,
                    download
                }
            }
        }).mount('#app')

    </script>
</body>
</html>